 html {
    background-color: olive;
    margin: -1em;
    font-family: arial;
}

body {
    width : 1024px;
    background-color: black;
    margin : auto;
    padding : 1em;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: olive;
    font-size: 220%;
    width: 320px;
    padding: 10px;
    border:1px solid blue;
    border-radius: 12px;
    margin-right: 150px;
    margin-left: 430px;
    
    position: relative;
  /* Standard syntax */
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:30px; top:0px;}
    25%  {background-color:yellow; left:50px; top:0px;}
    50%  {background-color:blue; left:100px; top:20px;}
    75%  {background-color:green; left:0px; top:20px;}
    100% {background-color:red; left:0px; top:0px;}
}

p {
    text-align: center;
    color: black;
}
img {
    width: 350px;
    height: 263px;
    display:block;
    border-radius: 12px;
    margin-right: 150px;
    margin-left: 430px;
}


ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: dimgrey;*/
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
    position: relative;
}

select {
    color: red;
    border-radius: 12px;
    margin: 17px 1px;
}

input {
    border-radius: 12px;
    text-align:left
}

label {
    font-size: 14px;
    padding: 3px;
    color: white;
}

h3 {
    margin: -2%;
    font-size: 15px;
    padding: 0px;
    color: black;
}

button {
    width: 60px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    border-radius: 20%;    
    font-size: 10px;
    margin: 14px 2px;
    cursor: pointer;
    }
    
hr {
    border-width: 2px;
}

   table {
    border-collapse: collapse;
    width: 40%;
    border: 1px solid black;
   
}

.showTable{
    text-align: center;
    margin: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    background-color: grey
}

tr td:{
    color: darkblue;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center
}

.dDown {
    width: 320px;
    height: 230px;
    padding: 5px;
    text-align: center;
    margin: 260px;
    font-size: 9px;
    background-color: olive;
    position: absolute;
    top: 40%;
    right: 48%

}

.displayTable {
    margin: -20%;
}

.addingSection{
    width: 320px;
    height: 230px;
    padding: 5px;
    text-align: center;
    margin: 117px;
    font-size: 9px;
    background-color: olive;
    position: absolute;
    top: 62%;
    left: 63%; 
}

 .addStocks{
    width: 60px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    border-radius: 10%;    
    font-size: 10px;
    cursor: pointer;
    }
    
.field {
    padding-top: 1%;
    margin-top: -2%;
    font-size: 10px;
    padding: 9px 19px;    
}
     
.footer {
 background: #eee;
 bottom: -700px;
 text-align: center;
 position: relative;
}
     
    
